/.vscode/*
!/.vscode/tasks.json
!/.vscode/settings.json
/.idea/*
!/.idea/
!/.idea/runConfigurations/
!/.idea/scopes/

/.devcontainer/.env

/.cargo/*
!/.cargo/config.toml

/.docker
/data
**/target
**/.venv
**/__pycache__
**/wit_world
/artifacts
**/*.rs.bk
/.env