/.vscode/*
!/.vscode/tasks.json
!/.vscode/settings.json
/.idea/*
!/.idea/
!/.idea/runConfigurations/
!/.idea/scopes/

/.devcontainer/.env

/Cargo.lock
/.cargo/*
!/.cargo/config.toml

/.docker
/data
/target
/artifacts
**/*.rs.bk
/.env
